@media screen and (max-width: 970px){
    /* body{
        background-color: white;
    } */
    #menu-button{
        display: block;
    }
    #hero-content .hero-heading{
        /* font-size: 64px; */
        width: 80%;
    }
    #hero-content .hero-heading h1{
        font-size: 64px;
    }
    #main nav {
        display: none;
    }
    #main-section {
        width: 100%;
        padding: 20px 50px;
    }
    #main-section .month::before{
        width: 30%;
    }
    #main-section .month::after{
        width: 30%;
    }
    #main-section h1{
        font-size: 64px;
    } 
    #main-section .desc{
        width: 100%;
    }
    #products{
        display: grid;
        grid-template-columns: 1fr;
    }
    #products .product{
        padding: 30px;
    }
    #pages ul{
        display: block;
        width: 150px;
        margin: 50px auto;
    }
    #pages ul li:not(:last-child){
        display: none;
    }
    #footer{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "form"
                             "address"
                             "phone"
                             "email"
                             "social";
    }
    #base{
        display: flex;
        flex-direction: column;
        border: none;
    }
    #base p{
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 450px){
        #main{
            width: 100%;
        }
        #hero-content .hero-heading h1{
            width: 100%;
            font-size: 32px;
        }
        #hero-content .hero-heading p{
            font-size: 16px;
        }
        #main-section {
            padding: 20px 20px;
        }
        #main-section h1{
            font-size: 32px;
        }
        #main-section .desc{
            width: 100%;
        }
        #products .product {
            padding: 20px;
        }
        #footer form{
            padding: 20px;
        }
        #footer div{
            padding: 30px 20px;
        }
    }